* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
}
header h1 {
  flex: 1;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

section {
  flex: 1;
}
div.info {
  flex: 1;
  padding-left: 45%;
  padding-top: 3%;
}
.btn{
  padding-left: 10%;
}
footer {
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 100vh;
  overflow: hidden;
  transition: width 500ms;
  background-color: grey;
}
nav .navItem, nav .navDivider {
  opacity: 0;
  color: lightgrey;
  font-size: 1.2rem;
  font-weight: 400;
  transition: opacity 300ms;
}
nav .navItem:not(:first-child), nav .navDivider:not(:first-child) {
  margin-top: 0.5rem;
}
nav .navItem {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
nav.open {
  width: 300px;
}
nav.open .navItem, nav.open .navDivider {
  opacity: 1;
}

#menuButton {
  padding: 5px 7px 5px 0;
  height: max-content;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background-color: grey;
  border-radius: 0 1rem 1rem 0;
  transition: padding 500ms ease;
}
#menuButton:hover {
  padding: 5px 17px 5px 0;
  cursor: pointer;
}

#pageContent {
  display: flex;
  flex-direction: column;
}

.circleCounter {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2ecc71;
  box-shadow: inset 0 0 50px #000;
  transition: background-color 2s ease-in-out;
}
.circleCounter svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.circleCounter svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: none;
  stroke-width: 10;
  stroke-linecap: butt;
}
.circleCounter svg circle:nth-child(1) {
  stroke: #cccccc;
}
.circleCounter svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: #cc3333;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 2s ease-in-out, stroke 2s ease-in-out;
}
.circleCounter .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.circleCounter .number span {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

#dataTotal {
  background-color: #2ecc71;
  transition: background-color 2s ease-in-out;
}
#dataTotal svg circle {
  stroke-linecap: butt;
}
#dataTotal svg circle:nth-child(1) {
  stroke: #cccccc;
}
#dataTotal svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: #cc3333;
}
#dataTotal .number span {
  color: white;
}

#ourTeam {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#ourTeam h2 {
  font-size: 1.5rem;
  text-align: center;
  color: gray;
}
#ourTeam h1 {
  font-size: 2rem;
  text-align: center;
}
#ourTeam p {
  text-align: justify;
}

.card {
  padding: 1rem;
  width: 300px;
  border: solid;
  border-color: red;
}
.card__avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#counterContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ##### MEDIA QUERIES ##### */
/* Tablets (sm) */
/* Laptops (md) */
/* Desktops (lg) */
