{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}
{% block contenu %}
	<h1>Bienvenue sur OFM
	</h1>
	  
			<header>
				
				<h1>OFM</h1>
			</header>
		
				<div id="ourTeam">
					<!-- CARD #1 -->
					<div class="card">
						<div class="card__avatar">
							<img src="../public/images/img/eric.jpeg" alt="">
						</div>
						<div class="card__infos">
							<h1>Fief Eric</h1>
							<h2>Etudiant</h2>
							<br>
							<p>Je suis élève en B.T.S. S.I.O. au lycée Guy Mollet en classe SIO1A et je suis boudiste du covid.</p>
					    </div>
					    <br>
					    <div class="card__social">
							<a href="Https://twitter.com/fief_eric?s=09"><i class="fab fa-twitter"></i></a>
							<i class="fab fa-discord"></i>
							<a href="https://www.instagram.com/wolfshiin/"><i class="fab fa-instagram"></i></a>
					    </div>
					</div>
					<!-- CARD #2 -->
					<div class="card">
						<div class="card__avatar">
							<img src="../public/images/img/lic.jpeg" alt="">
						</div>
						<div class="card__infos">
							<h1>Ansart Emelyne</h1>
							<h2>Etudiante</h2>
							<br>
							<p>Je suis élève en B.T.S. S.I.O. au lycée Guy Mollet en classe SIO1A.</p>
					    </div>
					    <br>
					    <div class="card__social">
							<a href="#"><i class="fab fa-twitter"></i></a>
							<i class="fab fa-discord"></i>
							<a href="#"><i class="fab fa-instagram"></i></a>
					    </div>
					</div>
					<!-- CARD #3 -->
					<div class="card">
						<div class="card__avatar">
							<img src="../public/images/img/avatar_lucas.png" alt="">
						</div>
						<div class="card__infos">
							<h1>Delfosse Lucas</h1>
							<h2>Etudiant</h2>
							<br>
							<p>Chef de projet, Covidien bresilien</p>
					    </div>
					    <br>
					    <div class="card__social">
							<a href="https://www.twitch.tv/chef8" target="_blank"><i class="fab fa-twitch"></i></a>
							<a href="https://discord.gg/t4dW4tv" target="_blank"><i class="fab fa-discord"></i></a>
							<a href="https://www.instagram.com/chef8l" target="_blank"><i class="fab fa-instagram"></i></a>
					    </div>
					</div>
					<!-- CARD #4 -->
					<div class="card">
						<div class="card__avatar">
							<img src="../public/images/img/avatar_anthony.png" alt="">
						</div>
						<div class="card__infos">
							<h1>Guiot Anthony</h1>
							<h2>Intégrateur web</h2>
							<br>
							<p>Autodidacte, j'aime apprendre le développement web ainsi que le développement de jeux vidéo.</p>
					    </div>
					    <br>
					    <div class="card__social">
							<a href="https://twitter.com/Anthony_G_dev" target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="https://www.instagram.com/anthony_g_dev/" target="_blank"><i class="fab fa-instagram"></i></a>
					    </div>
					</div>
				</div>
				<div id="theProject">
					<p>Le projet s'appelle Online File Manager, le projet a était pensé par Lucas et Anthony. Le but de ce projet c'est de faire un espace de stockage a distance comme google drive par exemple sauf que la on aura aucune limite pour télécharger les données</p>
				</div>
		

{% endblock %}