{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}
{% block contenu %}
<h1>Bienvenue</h1>
	</br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
   </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../public/images/img/secte.jpeg" class="d-block w-100" alt="...">
    </div>
   
  
</div>
	  
{% endblock %}
