  {% extends "base.html.twig" %}
{% block title %} {{ parent() }}Admin{% endblock %}

{% block contenu %}  


				<div id="counterContainer">
					<div id="perfCPU" class="circleCounter">
						<svg>
							<circle cx="75" cy="75" r="70"></circle>
							<circle cx="75" cy="75" r="70"></circle>
						</svg>
						<div class="number">
							<span>40°C</span>
						</div>
					</div>
					<div id="dataTotal" class="circleCounter">
						<svg>
							<circle cx="75" cy="75" r="70"></circle>
							<circle cx="75" cy="75" r="70"></circle>
						</svg>
						<div class="number">
							<span>0Go/1To</span>
						</div>
					</div>
					<div id="perfRAM" class="circleCounter">
						<svg>
							<circle cx="75" cy="75" r="70"></circle>
							<circle cx="75" cy="75" r="70"></circle>
						</svg>
						<div class="number">
							<span>3Go/16Go</span>
						</div>
					</div>
				</div>
                <section>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus voluptates repudiandae, ea aut ex exercitationem asperiores distinctio aspernatur neque ad dolor deserunt eveniet vitae error inventore sunt! Nostrum, dignissimos id? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure quaerat animi quae nam, maiores nesciunt dicta error tempora quos perferendis autem aperiam? Blanditiis possimus suscipit ut repellat amet impedit consectetur!</p>
				<br>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, facilis eaque explicabo consectetur velit iste voluptate sed deserunt molestiae vel accusamus nesciunt facere voluptas porro dignissimos! Nisi, porro! Accusantium, earum.</p>
			</section>

  
{% endblock %}